*.pyc
*.pyo
_pycache_/

.env
venv/
database/
database2/
data/

UploadFromCSV.py

.DS_Store

# IntelliJ files
.idea/*
/tests/dump.json
/google-credentials.json

/src/media/
/sample_data/
/docs/
/src/docker/db/
/init_data/
/app/docker/db/
/app/media/

/app/staticfiles/